body
{
	background : gray;
}
table
{
	background: white;
	
}
#table1  a:hover{
	color:Orange;
}
#table2 a:hover{
	color:orange;
}
table tr:nth-child(odd){
	background-color:yellow;
}
table tr:hover{
	background-color:red;
}
img:hover{
	transform : scale(2);
}
@media only screen and (max-width:600px){
	body{
		background:lightblue;
	}
	table{
		size:100%;
	}
}